{
  "env": {
    "browser": true
  },
  "extends": [
    "react-app",
    "eslint:recommended"
  ],
  "plugins": [
    "react"
  ],
  "rules": {
    "react-hooks/exhaustive-deps": 0,
    "quotes": [
      2,
      "single",
      {
        "avoidEscape": true
      }
    ],
    "jsx-quotes": [
      2,
      "prefer-single"
    ],
    "no-trailing-spaces": [
      2
    ],
    "no-multiple-empty-lines": [
      2,
      {
        "max": 1,
        "maxEOF": 0
      }
    ],
    "eol-last": [
       "error", 
       "never" 
    ],
    "sort-imports": [
      2,
      {
        "ignoreCase": false,
        "ignoreDeclarationSort": true,
        "ignoreMemberSort": false,
        "memberSyntaxSortOrder": [
          "none",
          "all",
          "multiple",
          "single"
        ],
        "allowSeparatedGroups": true
      }
    ],
    "comma-spacing": [
      2,
      {
        "before": false,
        "after": true
      }
    ],
    "comma-dangle": [
      2,
      {
        "arrays": "never",
        "objects": "never",
        "imports": "never",
        "exports": "never",
        "functions": "never"
      }
    ],
    "semi": [
      2
    ],
    "array-bracket-spacing": [
      2,
      "always"
    ],
    "object-curly-spacing": [
      2,
      "always",
      {
        "arraysInObjects": true,
        "objectsInObjects": true
      }
    ],
    "object-curly-newline": [
      2,
      {
        "ImportDeclaration": {
          "multiline": true,
          "minProperties": 1
        },
        "ExportDeclaration": "never"
      }
    ],
    "space-in-parens": [
      2,
      "never"
    ],
    "keyword-spacing": [
      2
    ],
    "space-unary-ops": [
      2,
      {
        "words": true,
        "nonwords": false,
        "overrides": {
          "new": false,
          "++": true
        }
      }
    ],
    "padding-line-between-statements": [
      2,
      {
        "blankLine": "always",
        "prev": [
          "case",
          "default"
        ],
        "next": "*"
      }
    ],
    "prefer-const": [2],
    "no-var": [2],
    "no-unneeded-ternary": [2],
    "no-console": [1],
    "no-alert": [1],
    "no-unused-vars": [
      1,
      { "varsIgnorePattern": "^_", "argsIgnorePattern": "^_" }
    ],
    "indent": ["error", 2 ,{"SwitchCase": 1 }]
  }
}